.good {
  width: 30%;
  height: 30%;
}

.title {
  text-align: center;
}

.image {
  width: 100px;
  height: 100px;
}

.imageContainer {
  width: 100px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}
